.change-my-role {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.animation {
  height: 48px;
  overflow: hidden;
  margin-left: 10px;
}

.animation > div > div {
  padding: 0px 10px;
  height: 48px;
  margin-bottom: 48px;
  display: inline-block;
}

.animation div:first-child {
  animation: text-changing 8s infinite;
}

.first div {
  background-color: var(--color-lilac);
}
.second div {
  background-color: var(--color-green);
}
.third div {
  background-color: var(--color-yellow);
}

@keyframes text-changing {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -96px;
  }
  30% {
    margin-top: -96px;
  }
  40% {
    margin-top: -192px;
  }
  60% {
    margin-top: -192px;
  }
  70% {
    margin-top: -96px;
  }
  80% {
    margin-top: -96px;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.ticker {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.ticker-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(100%, 0);
  position: absolute;
  animation: ticker-animation 20s infinite linear forwards;
  top: 0;
  right: 0;
}

.ticker p {
  font-family: "Russo One", sans-serif;
  font-size: 52px;
  -webkit-text-stroke: 1px var(--color-black);
  color: transparent;
}

.ticker:hover p {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  transition: color 0.5s linear;
}

.first-part {
  animation: ticker-animation 20s infinite linear forwards;
}

.second-part {
  animation: 20s ticker-animation 10s infinite linear forwards;
}

@keyframes ticker-animation {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.project-card {
  position: relative;
  perspective: 1000px;
  cursor: pointer;
}

.project-card .project-card-content,
.project-card .project-card-back-content {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.project-card .project-card-content {
  z-index: 2;
  backface-visibility: hidden;

  transform: rotateY(0deg);
}

.project-card .project-card-back-content {
  z-index: 1;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.project-card.flipped .project-card-content {
  transform: rotateY(180deg);
}

.project-card.flipped .project-card-back-content {
  transform: rotateY(360deg);
}

/* .project-card.flipped .project-card-content {
  animation: flipToBack 2s forwards;
}

.project-card.flipped .project-card-back-content {
  animation: flipToFront 2s forwards;
}

@keyframes flipToBack {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes flipToFront {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
} */
