:root {
  --min-width: 708px;
  --max-width: 1920px;
  --max-height: 1080px;
  background-color: var(--color-red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  nav {
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  body {
    --indent: minmax(0, 1fr);
    --content: minmax(var(--min-width), var(--max-width));
    --content-height: minmax(0, var(--max-height));

    display: grid;

    grid-template-columns: var(--indent) 100px var(--content) var(--indent);
    grid-template-rows: var(--indent) var(--content-height) 100px var(--indent);
  }

  main {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  footer {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  header {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  nav {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: var(--color-black);
    position: relative;
    padding: 20px;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  section.page-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
  }

  section.page-main.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, visibility 1s ease;
  }

  .page-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 100%;
  }

  .page-center-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    height: 100%;
  }

  .flex-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .home-padding {
    padding-left: 10vw;
  }

  .half-width {
    max-width: 50%;
    width: 45vw;
  }
}

main {
  border-top: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
}

header {
  border-top: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
}

footer {
  border: 2px solid var(--color-black);
}

.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--gap-md);
}

.contact-icons ul {
  list-style-type: none;
}

#about-me {
  background-color: var(--color-green);
}

#skills {
  background-color: var(--color-violet);
}

#projects {
  background-color: var(--color-mint);
}

#contacts {
  background-color: var(--color-orange);
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.perspective {
  perspective: 1000px;
}

.frame {
  position: relative;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  background: black;
  clip-path: polygon(
    92.5% 50%,
    96.98% 32.9%,
    82.56% 22.68%,
    75% 6.7%,
    57.38% 8.15%,
    41.32% 0.76%,
    28.75% 13.19%,
    11.7% 17.86%,
    10.06% 35.46%,
    0% 50%,
    10.06% 64.54%,
    11.7% 82.14%,
    28.75% 86.81%,
    41.32% 99.24%,
    57.38% 91.85%,
    75% 93.3%,
    82.56% 77.32%,
    96.98% 67.1%
  );
}

.frame img {
  position: absolute;
  top: 2px; /* Border width */
  bottom: 2px;
  left: 2px;
  right: 2px;
  width: calc(100% - 4px); /* Subtract double border width */
  height: calc(100% - 4px);
  object-fit: cover;
  clip-path: inherit;
}
/* 
.small-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;
  padding: var(--gap-md) 0;
}

.small-navigation a {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
}

.nav-link {
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  margin-bottom: 16px;
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  transform: translate3d(0px, 0px);
}

.spin-1 {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.spin-2 {
  transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
} */

.small-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: var(--gap-md) 0;
}

.small-navigation a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.link {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-right: var(--gap-lg);
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.link::after {
  content: attr(replace);
  height: 100%;
  top: 0;
  transform-origin: 50% 0%;
  transform: translate3d(0%, 200%, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link:hover::before {
  transform-origin: 50% 0%;
  transform: scaleX(1);
}

.link:hover::after {
  transform: translate3d(0, 0, 0);
}

.link span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.link:hover span {
  transform: translate3d(0, -200%, 0);
}
