/* ticker */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* plain text */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");

/*  big headers */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&family=Oswald:wght@600&family=Roboto+Slab:wght@300&display=swap");

/* для виділеного тексту на бекграунді*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

/* main header */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

:root {
  font-family: "Archivo Narrow", sans-serif;
}

.heading-xl {
  font-family: "Poppins", sans-serif;
  font-size: 148px;
  line-height: 120px;
  -webkit-text-stroke: 1px var(--color-black);
  color: transparent;
  transition: color 0.5s linear;
  cursor: default;
}

.heading-xl:hover {
  -webkit-text-stroke: var(--color-black);
  color: var(--color-black);
}

.heading-sm,
.heading-md {
  /* font-family: "Alegreya Sans SC", serif; */
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.heading-md {
  font-size: 40px;
  line-height: 48px;
}

.heading-sm {
  font-size: 32px;
  line-height: 40px;
}

.uppercase-text {
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .heading-xl {
    font-size: 120px;
    line-height: 98px;
  }
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 392px) {
}

@media screen and (max-width: 592px) {
  .heading-xl {
    font-size: 100px;
    line-height: 90px;
  }
}

@media screen and (max-width: 794px) {
}

.icon {
  margin-top: var(--gap-md);
  width: 60px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 768px) {
  .menu-list a {
    text-decoration: none;
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 168px;
    font-style: normal;
    font-stretch: normal;
    -webkit-text-stroke: 1px var(--color-black);
    color: transparent;
    text-transform: uppercase;
    line-height: 130px;
    overflow: hidden;
    transform: rotateY(-30deg);
    padding-right: var(--gap-md);
    transform-origin: right center;
    transition: transform 0.5s linear, color 0.5s linear;
  }

  .menu-list a:hover {
    -webkit-text-stroke: 1px fff;
    color: var(--color-black);
    transform: rotateY(-15deg);
  }

  .menu-list a:hover ~ a {
    transform: rotateY(-30deg);
    color: transparent;
  }

  p {
    font-size: 1.3rem;
    padding: var(--gap-sm) 0;
  }

  .skills-header {
    width: 180px;
    height: 100%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }

  .skills-header h1 {
    transform: rotate(180deg);
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 132px;
    font-style: normal;
    font-stretch: normal;
    -webkit-text-stroke: 1px var(--color-black);
    color: transparent;
    line-height: 130px;
    text-transform: uppercase;
    cursor: default;
  }

  .terrorist-state-language {
    font-size: 0.5rem;
  }

  .language-content h2,
  .language-content h3,
  .education-content h2,
  .education-content h3,
  .project-description h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    margin-left: 1rem;
  }

  .language-content h2,
  .education-content h2 {
    font-weight: 900;
  }

  .language-content h3,
  .education-content h3 {
    font-weight: 600;
  }
}
